*{
    margin: 0;
    padding: 0;
    
}

.sticky {
    position: fixed;
    top: 0;
    left: 0px;
    width: 100%;
    color: black;
    background-color: white;
    z-index: 1000;
}
.sticky,.content{
    padding-top: 0px;
}
.menu ul{
    display: inline-block;
    list-style: none;
    height: 50px;
    
}
.menu ul li{
    padding: 25px 30px;
    float: left;
}
.menu-left ul li a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-size: 1em;
}
.menu-right{
    padding-top: 25px;
    /* padding-left: 30px; */
    text-transform: uppercase;
}
.top-pic{
    width: 100%;
    height: unset;
    position: relative;
}
.top-pic img{
    width: 100%;
    height: 100%;
 }
 .top-pic:hover img{
    opacity: 0.75;
 }
 .top-pic:hover .overlay{
    height: 100%;

 }
 .overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .3s ease;
  }
.text{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
